.h1
{
    text-align: center;
    margin: 0;
    padding: 12px 0;
}
.article
{
    background-color: beige;
    border: 1px solid black;
    box-shadow: inset 0 0 1px black;
    height: 80vh;
    width: 50vw;
    overflow-y: scroll;
    overflow-x: hidden;
}
.div
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50vw;
}
.div > input
{
    flex: 4;
    margin: 4px;
}
.div > button
{
    flex: 1;
    margin: 4px;
}
main
{
    width: 100vw;
    height: 100vh;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}